# Understanding Merge Types (Inner, Left, Right, Outer)

In this subsection, you will learn how different merge types work in pandas and how they compare to SQL joins. 

We will create two sample DataFrames and explore how each merge behaves when keys match or donâ€™t match.

ðŸŸ¦ 1. Import Required Library

In [1]:
import pandas as pd

ðŸŸ¦ 2. Create Sample DataFrames

In [4]:
df_customers = pd.DataFrame({
    "customer_id": [1, 2, 3, 4],
    "customer_name": ["Alice", "Bob", "Charlie", "David"]
})

df_orders = pd.DataFrame({
    "customer_id": [2, 3, 5, 6],
    "order_total": [50, 100, 75, 60]
})

df_customers, df_orders

(   customer_id customer_name
 0            1         Alice
 1            2           Bob
 2            3       Charlie
 3            4         David,
    customer_id  order_total
 0            2           50
 1            3          100
 2            5           75
 3            6           60)

ðŸŸ¦ Visual Explanation

INNER JOIN  
 ðŸ”¹ Only matching keys  
 
LEFT JOIN  
 ðŸ”¹ All keys from the left table  
 ðŸ”¹ Matching rows from right  
 
RIGHT JOIN  
 ðŸ”¹ All keys from the right table  

OUTER JOIN  
 ðŸ”¹ All keys from both tables  
 ðŸ”¹ Missing values filled with NaN

ðŸŸ¦ 3. Inner Join

In [5]:
inner_merge = pd.merge(df_customers, df_orders, on="customer_id", how="inner")
inner_merge

   customer_id customer_name  order_total
0            2           Bob           50
1            3       Charlie          100

ðŸŸ¦ 4. Left Join

In [6]:
left_merge = pd.merge(df_customers, df_orders, on="customer_id", how="left")
left_merge

   customer_id customer_name  order_total
0            1         Alice          NaN
1            2           Bob         50.0
2            3       Charlie        100.0
3            4         David          NaN

ðŸŸ¦ 5. Right Join

In [7]:
right_merge = pd.merge(df_customers, df_orders, on="customer_id", how="right")
right_merge

   customer_id customer_name  order_total
0            2           Bob           50
1            3       Charlie          100
2            5           NaN           75
3            6           NaN           60

ðŸŸ¦ 6. Outer Join

In [8]:
outer_merge = pd.merge(df_customers, df_orders, on="customer_id", how="outer")
outer_merge

   customer_id customer_name  order_total
0            1         Alice          NaN
1            2           Bob         50.0
2            3       Charlie        100.0
3            4         David          NaN
4            5           NaN         75.0
5            6           NaN         60.0

## ðŸŸ¦ Summary Table (Markdown Cell)

```
Join Type    | Keeps Keys From     | Missing Values?
-------------|----------------------|-----------------
Inner        | Intersection         | No
Left         | Left DataFrame       | Right side NaN
Right        | Right DataFrame      | Left side NaN
Outer        | Union (All keys)     | NaN on both sides
```