In this subsection, you will learn how to stack DataFrames vertically and horizontally, handle different column structures, ignore indexes, and concatenate inside loops‚Äîan essential pattern in real-world workflows.

üü¶ 1. Import Library

In [1]:
import pandas as pd

üü¶ 2. Create Sample DataFrames

In [2]:
df1 = pd.DataFrame({
    "id": [1, 2, 3],
    "name": ["Alice", "Bob", "Charlie"]
})

df2 = pd.DataFrame({
    "id": [4, 5],
    "name": ["Diana", "Evan"]
})
df1, df2

(   id     name
 0   1    Alice
 1   2      Bob
 2   3  Charlie,
    id   name
 0   4  Diana
 1   5   Evan)

üü¶ 3. Vertical Concatenation (Stack Rows)

In [3]:
vertical = pd.concat([df1, df2])
vertical

   id     name
0   1    Alice
1   2      Bob
2   3  Charlie
0   4    Diana
1   5     Evan

üü¶ 4. Vertical Concatenation with ignore_index=True

In [4]:
vertical_ignore = pd.concat([df1, df2], ignore_index=True)
vertical_ignore

   id     name
0   1    Alice
1   2      Bob
2   3  Charlie
3   4    Diana
4   5     Evan

üü¶ 5. Horizontal Concatenation (Side-by-Side)

In [5]:
left = pd.DataFrame({"A": [1, 2, 3]})
right = pd.DataFrame({"B": ["x", "y", "z"]})

horizontal = pd.concat([left, right], axis=1)
horizontal

   A  B
0  1  x
1  2  y
2  3  z

üü¶ 6. Concatenation with Different Columns

In [6]:
df3 = pd.DataFrame({
    "id": [6, 7],
    "age": [30, 25]
})

concat_diff = pd.concat([df1, df3], ignore_index=True)
concat_diff

   id     name   age
0   1    Alice   NaN
1   2      Bob   NaN
2   3  Charlie   NaN
3   6      NaN  30.0
4   7      NaN  25.0

üü¶ 7. Concatenating with Alignment on Index

In [7]:
df_a = pd.DataFrame({"value1": [10, 20, 30]}, index=["a", "b", "c"])
df_b = pd.DataFrame({"value2": [100, 200]}, index=["a", "c"])

concat_align = pd.concat([df_a, df_b], axis=1)
concat_align

   value1  value2
a      10   100.0
b      20     NaN
c      30   200.0

üü¶ 8. Concatenation in a Loop (Real-World Use Case)

In [8]:
dataframes = []

for month in ["Jan", "Feb", "Mar"]:
    df = pd.DataFrame({
        "month": [month] * 2,
        "sales": [100, 150]
    })
    dataframes.append(df)

yearly_sales = pd.concat(dataframes, ignore_index=True)
yearly_sales

  month  sales
0   Jan    100
1   Jan    150
2   Feb    100
3   Feb    150
4   Mar    100
5   Mar    150

## üü¶ Summary

In this subsection you learned how to:

‚úîÔ∏è Stack DataFrames vertically or horizontally

‚úîÔ∏è Combine DataFrames with different columns

‚úîÔ∏è Control index behavior using ignore_index

‚úîÔ∏è Align data by index when concatenating along columns

‚úîÔ∏è Concatenate inside loops ‚Äî a common real-world workflow