ðŸŸ¦ 1. Import Libraries

In [1]:
import pandas as pd

ðŸŸ¦ 2. Sample DataFrames

In [2]:
df_left = pd.DataFrame({
    "value_left": [10, 20, 30]
}, index=["A", "B", "C"])

df_right = pd.DataFrame({
    "value_right": [100, 200, 300]
}, index=["A", "B", "D"])

ðŸŸ¦ 3. Basic Index Join (Default = Left Join)

In [3]:
df_left.join(df_right)

   value_left  value_right
A          10        100.0
B          20        200.0
C          30          NaN

ðŸŸ¦ 4. Inner Join on Index

In [4]:
df_left.join(df_right, how="inner")

   value_left  value_right
A          10          100
B          20          200

ðŸŸ¦ 5. Outer Join (Union of All Indexes)

In [5]:
df_left.join(df_right, how="outer")

   value_left  value_right
A        10.0        100.0
B        20.0        200.0
C        30.0          NaN
D         NaN        300.0

ðŸŸ¦ 6. Joining Multiple DataFrames at Once

In [6]:
df_extra = pd.DataFrame({
    "value_extra": [1, 2, 3]
}, index=["A", "B", "C"])

df_left.join([df_right, df_extra], how="outer")

   value_left  value_right  value_extra
A        10.0        100.0          1.0
B        20.0        200.0          2.0
C        30.0          NaN          3.0
D         NaN        300.0          NaN

ðŸŸ¦ 7. Joining on Columns by Setting Index First

In [7]:
dfA = pd.DataFrame({
    "id": [1, 2, 3],
    "name": ["Ali", "Sara", "Omid"]
}).set_index("id")

dfB = pd.DataFrame({
    "id": [1, 3, 4],
    "salary": [5000, 7000, 6000]
}).set_index("id")

dfA.join(dfB, how="left")

    name  salary
id
1    Ali  5000.0
2   Sara     NaN
3   Omid  7000.0

### ðŸŸ¦ Comparison: join() vs merge()

| Feature                  | `join()`                 | `merge()` |
| ------------------------ | ------------------------ | --------- |
| Uses index automatically | âœ”                        | âœ–         |
| Can join on columns      | Only with `.set_index()` | âœ”         |
| Many-to-many             | âœ–                        | âœ”         |
| Combine many DataFrames  | âœ”                        | âœ–         |
| SQL-like operations      | Good                     | Excellent |