ðŸŸ¦ 1. Sample Dataset

In [1]:
import pandas as pd
import numpy as np

ðŸŸ¦ 2. Sample Dataset

In [2]:
data = {
    "Day": pd.date_range("2025-01-01", periods=10, freq="D"),
    "Sales": [100, 120, 130, 90, 80, 150, 170, 160, 155, 200]
}

df = pd.DataFrame(data)
df

         Day  Sales
0 2025-01-01    100
1 2025-01-02    120
2 2025-01-03    130
3 2025-01-04     90
4 2025-01-05     80
5 2025-01-06    150
6 2025-01-07    170
7 2025-01-08    160
8 2025-01-09    155
9 2025-01-10    200

ðŸŸ¦ 3. Rolling Mean (Simple Moving Average)

In [ ]:
#Calculate the rolling mean over the last **3 days**
df["RollingMean_3"] = df["Sales"].rolling(window=3).mean()
df

         Day  Sales  RollingMean_3
0 2025-01-01    100            NaN
1 2025-01-02    120            NaN
2 2025-01-03    130     116.666667
3 2025-01-04     90     113.333333
4 2025-01-05     80     100.000000
5 2025-01-06    150     106.666667
6 2025-01-07    170     133.333333
7 2025-01-08    160     160.000000
8 2025-01-09    155     161.666667
9 2025-01-10    200     171.666667

ðŸŸ¦ 4. Rolling with `min_periods`

In [4]:
df["RollingMedian_3"] = df["Sales"].rolling(window=3).median()
df[["Day", "Sales", "RollingMean_3", "RollingMedian_3"]]

         Day  Sales  RollingMean_3  RollingMedian_3
0 2025-01-01    100            NaN              NaN
1 2025-01-02    120            NaN              NaN
2 2025-01-03    130     116.666667            120.0
3 2025-01-04     90     113.333333            120.0
4 2025-01-05     80     100.000000             90.0
5 2025-01-06    150     106.666667             90.0
6 2025-01-07    170     133.333333            150.0
7 2025-01-08    160     160.000000            160.0
8 2025-01-09    155     161.666667            160.0
9 2025-01-10    200     171.666667            160.0

ðŸŸ¦ 5. Rolling with `min_periods`

In [5]:
#Ensure calculations appear earlier even with fewer rows.

df["RollingMean_Min2"] = df["Sales"].rolling(window=3, min_periods=2).mean()
df[["Day", "Sales", "RollingMean_Min2"]]

         Day  Sales  RollingMean_Min2
0 2025-01-01    100               NaN
1 2025-01-02    120        110.000000
2 2025-01-03    130        116.666667
3 2025-01-04     90        113.333333
4 2025-01-05     80        100.000000
5 2025-01-06    150        106.666667
6 2025-01-07    170        133.333333
7 2025-01-08    160        160.000000
8 2025-01-09    155        161.666667
9 2025-01-10    200        171.666667

ðŸŸ¦ 6. Centered Rolling Window

In [6]:
# Center the window around the current row instead of ending at it.
df["CenteredRolling"] = df["Sales"].rolling(window=3, center=True).mean()
df[["Day", "Sales", "CenteredRolling"]]

         Day  Sales  CenteredRolling
0 2025-01-01    100              NaN
1 2025-01-02    120       116.666667
2 2025-01-03    130       113.333333
3 2025-01-04     90       100.000000
4 2025-01-05     80       106.666667
5 2025-01-06    150       133.333333
6 2025-01-07    170       160.000000
7 2025-01-08    160       161.666667
8 2025-01-09    155       171.666667
9 2025-01-10    200              NaN

ðŸŸ¦ 7. Multiple Aggregations

In [7]:
# Apply several functions at once using `.agg()`
df_roll = df["Sales"].rolling(window=4).agg(["mean", "max", "min", "std"])
df_roll

     mean    max    min        std
0     NaN    NaN    NaN        NaN
1     NaN    NaN    NaN        NaN
2     NaN    NaN    NaN        NaN
3  110.00  130.0   90.0  18.257419
4  105.00  130.0   80.0  23.804761
5  112.50  150.0   80.0  33.040379
6  122.50  170.0   80.0  44.253060
7  140.00  170.0   80.0  40.824829
8  158.75  170.0  150.0   8.539126
9  171.25  200.0  155.0  20.155644

ðŸŸ¦ 8. Custom Rolling Function

In [8]:
# Use `.apply()` to define your own function.
df["RollingRange_3"] = df["Sales"].rolling(window=3).apply(lambda x: x.max() - x.min())
df[["Day", "Sales", "RollingRange_3"]]

         Day  Sales  RollingRange_3
0 2025-01-01    100             NaN
1 2025-01-02    120             NaN
2 2025-01-03    130            30.0
3 2025-01-04     90            40.0
4 2025-01-05     80            50.0
5 2025-01-06    150            70.0
6 2025-01-07    170            90.0
7 2025-01-08    160            20.0
8 2025-01-09    155            15.0
9 2025-01-10    200            45.0

ðŸŸ¦ 9. Time-Based Rolling Window (for Time Indexes)

In [9]:
# Convert to a time-indexed DataFrame and use time durations.
df_time = df.set_index("Day")

# Rolling window of 3 days (time-based, not row count)
df_time["3D_Mean"] = df_time["Sales"].rolling("3D").mean()
df_time.head(6)

,Sales,RollingMean_3,RollingMedian_3,RollingMean_Min2,CenteredRolling,RollingRange_3,3D_Mean
Day,,,,,,,
2025-01-01,100,NaN,NaN,NaN,NaN,NaN,100.000000
2025-01-02,120,NaN,NaN,110.000000,116.666667,NaN,110.000000
2025-01-03,130,116.666667,120.0,116.666667,113.333333,30.0,116.666667
2025-01-04,90,113.333333,120.0,113.333333,100.000000,40.0,113.333333
2025-01-05,80,100.000000,90.0,100.000000,106.666667,50.0,100.000000
2025-01-06,150,106.666667,90.0,106.666667,133.333333,70.0,106.666667


### ðŸŸ¦ Summary

```
rolling(window=3)      â†’ Fixed window of 3 rows
rolling("3D")          â†’ Rolling window based on 3 days
min_periods            â†’ Allow fewer observations
center=True            â†’ Center window around current row
agg()                  â†’ Multiple aggregations
apply(func)            â†’ Custom functions
```

---



In this subsection, you learned how to:

âœ” Compute rolling mean, median, and range

âœ” Use `min_periods` to allow flexible starts

âœ” Center windows for symmetric smoothing

âœ” Apply multiple and custom rolling aggregations

âœ” Use time-based rolling windows for real dates