ðŸŸ¦ 1. Import & Sample Data

In [1]:
import pandas as pd

data = {
    "trip_id": [1, 2, 3, 4, 5],
    "timestamp": [
        "2024-01-15 08:30:45",
        "2024-03-20 14:10:05",
        "2024-06-01 05:15:00",
        "2024-09-10 22:50:30",
        "2024-12-25 12:00:00"
    ]
}

df = pd.DataFrame(data)

df["timestamp"] = pd.to_datetime(df["timestamp"])
df

   trip_id           timestamp
0        1 2024-01-15 08:30:45
1        2 2024-03-20 14:10:05
2        3 2024-06-01 05:15:00
3        4 2024-09-10 22:50:30
4        5 2024-12-25 12:00:00

ðŸŸ¦ 2. Extract Year, Month, Day

In [2]:
df["year"] = df["timestamp"].dt.year
df["month"] = df["timestamp"].dt.month
df["day"] = df["timestamp"].dt.day

df

   trip_id           timestamp  year  month  day
0        1 2024-01-15 08:30:45  2024      1   15
1        2 2024-03-20 14:10:05  2024      3   20
2        3 2024-06-01 05:15:00  2024      6    1
3        4 2024-09-10 22:50:30  2024      9   10
4        5 2024-12-25 12:00:00  2024     12   25

ðŸŸ¦ 3. Extract Hour, Minute, Second

In [3]:
df["hour"] = df["timestamp"].dt.hour
df["minute"] = df["timestamp"].dt.minute
df["second"] = df["timestamp"].dt.second

df

   trip_id           timestamp  year  month  day  hour  minute  second
0        1 2024-01-15 08:30:45  2024      1   15     8      30      45
1        2 2024-03-20 14:10:05  2024      3   20    14      10       5
2        3 2024-06-01 05:15:00  2024      6    1     5      15       0
3        4 2024-09-10 22:50:30  2024      9   10    22      50      30
4        5 2024-12-25 12:00:00  2024     12   25    12       0       0

ðŸŸ¦ 4. Day of Week & Day Name

In [4]:
df["weekday_num"] = df["timestamp"].dt.weekday  # Monday=0
df["weekday_name"] = df["timestamp"].dt.day_name()

df

,trip_id,timestamp,year,month,day,hour,minute,second,weekday_num,weekday_name
0,1,2024-01-15 08:30:45,2024,1,15,8,30,45,0,Monday
1,2,2024-03-20 14:10:05,2024,3,20,14,10,5,2,Wednesday
2,3,2024-06-01 05:15:00,2024,6,1,5,15,0,5,Saturday
3,4,2024-09-10 22:50:30,2024,9,10,22,50,30,1,Tuesday
4,5,2024-12-25 12:00:00,2024,12,25,12,0,0,2,Wednesday

ðŸŸ¦ 5. Extract Week Number

In [5]:
df["week_number"] = df["timestamp"].dt.isocalendar().week
df

,trip_id,timestamp,year,month,day,hour,minute,second,weekday_num,weekday_name,week_number
0,1,2024-01-15 08:30:45,2024,1,15,8,30,45,0,Monday,3
1,2,2024-03-20 14:10:05,2024,3,20,14,10,5,2,Wednesday,12
2,3,2024-06-01 05:15:00,2024,6,1,5,15,0,5,Saturday,22
3,4,2024-09-10 22:50:30,2024,9,10,22,50,30,1,Tuesday,37
4,5,2024-12-25 12:00:00,2024,12,25,12,0,0,2,Wednesday,52

ðŸŸ¦ 6. Extract Quarter

In [6]:
df["quarter"] = df["timestamp"].dt.quarter
df

,trip_id,timestamp,year,month,day,hour,minute,second,weekday_num,weekday_name,week_number,quarter
0,1,2024-01-15 08:30:45,2024,1,15,8,30,45,0,Monday,3,1
1,2,2024-03-20 14:10:05,2024,3,20,14,10,5,2,Wednesday,12,1
2,3,2024-06-01 05:15:00,2024,6,1,5,15,0,5,Saturday,22,2
3,4,2024-09-10 22:50:30,2024,9,10,22,50,30,1,Tuesday,37,3
4,5,2024-12-25 12:00:00,2024,12,25,12,0,0,2,Wednesday,52,4

ðŸŸ¦ 7. Extract Month Name

In [7]:
df["month_name"] = df["timestamp"].dt.month_name()
df

,trip_id,timestamp,year,month,day,hour,minute,second,weekday_num,weekday_name,week_number,quarter,month_name
0,1,2024-01-15 08:30:45,2024,1,15,8,30,45,0,Monday,3,1,January
1,2,2024-03-20 14:10:05,2024,3,20,14,10,5,2,Wednesday,12,1,March
2,3,2024-06-01 05:15:00,2024,6,1,5,15,0,5,Saturday,22,2,June
3,4,2024-09-10 22:50:30,2024,9,10,22,50,30,1,Tuesday,37,3,September
4,5,2024-12-25 12:00:00,2024,12,25,12,0,0,2,Wednesday,52,4,December

ðŸŸ¦ 8. Extract Day of Year

In [8]:
df["day_of_year"] = df["timestamp"].dt.dayofyear
df

,trip_id,timestamp,year,month,day,hour,minute,second,weekday_num,weekday_name,week_number,quarter,month_name,day_of_year
0,1,2024-01-15 08:30:45,2024,1,15,8,30,45,0,Monday,3,1,January,15
1,2,2024-03-20 14:10:05,2024,3,20,14,10,5,2,Wednesday,12,1,March,80
2,3,2024-06-01 05:15:00,2024,6,1,5,15,0,5,Saturday,22,2,June,153
3,4,2024-09-10 22:50:30,2024,9,10,22,50,30,1,Tuesday,37,3,September,254
4,5,2024-12-25 12:00:00,2024,12,25,12,0,0,2,Wednesday,52,4,December,360

ðŸŸ¦ 9. Extract Is Weekend

In [9]:
df["is_weekend"] = df["timestamp"].dt.weekday >= 5
df

,trip_id,timestamp,year,month,day,hour,minute,second,weekday_num,weekday_name,week_number,quarter,month_name,day_of_year,is_weekend
0,1,2024-01-15 08:30:45,2024,1,15,8,30,45,0,Monday,3,1,January,15,False
1,2,2024-03-20 14:10:05,2024,3,20,14,10,5,2,Wednesday,12,1,March,80,False
2,3,2024-06-01 05:15:00,2024,6,1,5,15,0,5,Saturday,22,2,June,153,True
3,4,2024-09-10 22:50:30,2024,9,10,22,50,30,1,Tuesday,37,3,September,254,False
4,5,2024-12-25 12:00:00,2024,12,25,12,0,0,2,Wednesday,52,4,December,360,False

ðŸŸ¦ 10. Feature Engineering Example (Real World)

In [10]:
df["time_period"] = pd.cut(
    df["hour"],
    bins=[0, 6, 10, 16, 20, 24],
    labels=["Night", "Morning Peak", "Midday", "Evening Peak", "Late Night"],
    right=False
)

df

,trip_id,timestamp,year,month,day,hour,minute,second,weekday_num,weekday_name,week_number,quarter,month_name,day_of_year,is_weekend,time_period
0,1,2024-01-15 08:30:45,2024,1,15,8,30,45,0,Monday,3,1,January,15,False,Morning Peak
1,2,2024-03-20 14:10:05,2024,3,20,14,10,5,2,Wednesday,12,1,March,80,False,Midday
2,3,2024-06-01 05:15:00,2024,6,1,5,15,0,5,Saturday,22,2,June,153,True,Night
3,4,2024-09-10 22:50:30,2024,9,10,22,50,30,1,Tuesday,37,3,September,254,False,Late Night
4,5,2024-12-25 12:00:00,2024,12,25,12,0,0,2,Wednesday,52,4,December,360,False,Midday

##ðŸŸ¦ Summary Cell 

ðŸŽ¯ What You Learned in This Section

You learned how to:

âœ… Extract year, month, day

âœ… Extract hour, minute, second

âœ… Get day of week as number and name

âœ… Extract week number and quarter

âœ… Extract month and day names

âœ… Extract field useful for modeling like is_weekend and time_period