ðŸŸ¦ 1. Import & Create Sample Time Series Data

In [6]:
import pandas as pd

# Sample trip data with timestamps
data = {
    "trip_id": range(1, 11),
    "timestamp": [
        "2023-01-01 07:30:00",
        "2024-01-05 09:15:00",
        "2024-02-10 16:45:00",
        "2022-03-15 08:10:00",
        "2024-04-01 18:20:00",
        "2025-05-21 06:00:00",
        "2024-06-30 12:30:00",
        "2024-07-04 17:50:00",
        "2026-08-19 22:10:00",
        "2024-09-02 05:40:00"
    ]
}

df = pd.DataFrame(data)

# Convert to datetime
df["timestamp"] = pd.to_datetime(df["timestamp"])

df

   trip_id           timestamp
0        1 2023-01-01 07:30:00
1        2 2024-01-05 09:15:00
2        3 2024-02-10 16:45:00
3        4 2022-03-15 08:10:00
4        5 2024-04-01 18:20:00
5        6 2025-05-21 06:00:00
6        7 2024-06-30 12:30:00
7        8 2024-07-04 17:50:00
8        9 2026-08-19 22:10:00
9       10 2024-09-02 05:40:00

ðŸŸ¦ 2. Filter Rows Between Two Dates

In [7]:
start_date = "2024-03-01"
end_date = "2024-07-01"

filtered_range = df[
    (df["timestamp"] >= start_date) &
    (df["timestamp"] <= end_date)
]

filtered_range

   trip_id           timestamp
4        5 2024-04-01 18:20:00
6        7 2024-06-30 12:30:00

ðŸŸ¦ 3. Using .between() for Date Ranges

In [8]:
filtered_between = df[df["timestamp"].between(
    "2024-03-01",
    "2024-07-01"
)]

filtered_between

   trip_id           timestamp
4        5 2024-04-01 18:20:00
6        7 2024-06-30 12:30:00

ðŸŸ¦ 4. Filter by Specific Year

In [9]:
df_2024 = df[df["timestamp"].dt.year == 2024]
df_2024

   trip_id           timestamp
1        2 2024-01-05 09:15:00
2        3 2024-02-10 16:45:00
4        5 2024-04-01 18:20:00
6        7 2024-06-30 12:30:00
7        8 2024-07-04 17:50:00
9       10 2024-09-02 05:40:00

ðŸŸ¦ 5. Filter by Specific Month

In [10]:
df_march = df[df["timestamp"].dt.month == 3]
df_march

   trip_id           timestamp
3        4 2022-03-15 08:10:00

ðŸŸ¦ 6. Filter by Specific Day of Month

In [11]:
df_day_1 = df[df["timestamp"].dt.day == 1]
df_day_1

   trip_id           timestamp
0        1 2023-01-01 07:30:00
4        5 2024-04-01 18:20:00

ðŸŸ¦ 7. Filter by Multiple Months

In [14]:
df_spring = df[df["timestamp"].dt.month.isin([3, 4, 5])]
df_spring

   trip_id           timestamp
3        4 2022-03-15 08:10:00
4        5 2024-04-01 18:20:00
5        6 2025-05-21 06:00:00

ðŸŸ¦ 8. Filter by Time of Day

Let's filter morning rush hours between 7:00 and 10:00.

In [15]:
df["hour"] = df["timestamp"].dt.hour

rush_hour_df = df[
    (df["hour"] >= 7) &
    (df["hour"] <= 10)
]

rush_hour_df

   trip_id           timestamp  hour
0        1 2023-01-01 07:30:00     7
1        2 2024-01-05 09:15:00     9
3        4 2022-03-15 08:10:00     8

ðŸŸ¦ 9. Filtering by Date Only (Ignoring Time)

In [16]:
df["date_only"] = df["timestamp"].dt.date

df_on_april_1 = df[df["date_only"] == pd.to_datetime("2024-04-01").date()]
df_on_april_1

   trip_id           timestamp  hour   date_only
4        5 2024-04-01 18:20:00    18  2024-04-01

ðŸŸ¦ 10. Filtering Using DatetimeIndex

In [19]:

df_indexed = df.set_index("timestamp").sort_index()

filtered = df_indexed.loc["2024-03-01":"2024-07-01"]
filtered

                     trip_id  hour   date_only
timestamp
2024-04-01 18:20:00        5    18  2024-04-01
2024-06-30 12:30:00        7    12  2024-06-30

ðŸŸ¦ 11. Filtering for Specific Time Range Each Day

In [23]:
evening_peak = df[
    df["timestamp"].dt.time.between(
        pd.to_datetime("16:00:00").time(),
        pd.to_datetime("19:00:00").time()
    )
]

evening_peak

   trip_id           timestamp  hour   date_only
2        3 2024-02-10 16:45:00    16  2024-02-10
4        5 2024-04-01 18:20:00    18  2024-04-01
7        8 2024-07-04 17:50:00    17  2024-07-04

## ðŸŸ¦ Summary Cell

ðŸŽ¯ What You Learned in This Section

âœ… Filter rows between two date ranges

âœ… Use .between() for cleaner filtering logic

âœ… Filter by year, month, and day components

âœ… Select rows based on time-of-day periods

âœ… Slice date ranges directly using a DatetimeIndex

âœ… Perform practical rush-hour filtering