ðŸŸ¦ 1. Import Required Library

In [1]:
from pandas import DataFrame
import pandas as pd

ðŸŸ¦ 2. Example Dataset

In [2]:
df = DataFrame({
    "route_id": [10, 10, 20, 20, 30, 30],
    "direction": [0, 0, 0, 1, 0, 1],
    "delay_min": [3, 5, 7, 2, 1, 4],
    "trip_duration": [25, 30, 45, 50, 20, 35]
})

df

   route_id  direction  delay_min  trip_duration
0        10          0          3             25
1        10          0          5             30
2        20          0          7             45
3        20          1          2             50
4        30          0          1             20
5        30          1          4             35

ðŸŸ¦ 2. Multiple Aggregations on a Single Column

In [3]:
df.groupby("route_id")["delay_min"].agg(["mean", "sum", "max"])

          mean  sum  max
route_id
10         4.0    8    5
20         4.5    9    7
30         2.5    5    4

ðŸŸ¦ 3. Aggregating Different Columns Differently

In [5]:
df.groupby("route_id").agg({
    "delay_min": ["mean", "max"],
    "trip_duration": "sum"
}).reset_index()

  route_id delay_min     trip_duration
                mean max           sum
0       10       4.0   5            55
1       20       4.5   7            95
2       30       2.5   4            55

ðŸŸ¦ 4. Renaming Output Columns for Clarity

In [6]:
df.groupby("route_id").agg(
    avg_delay=("delay_min", "mean"),
    max_delay=("delay_min", "max"),
    total_duration=("trip_duration", "sum")
).reset_index()

   route_id  avg_delay  max_delay  total_duration
0        10        4.0          5              55
1        20        4.5          7              95
2        30        2.5          4              55

# ðŸŸ¦ Summary

In this subsection, you learned how to:

. Apply multiple aggregation functions to a single column

. Aggregate different columns using different functions

. Rename columns for clearer output

. Reset the index after aggregation