ðŸŸ¦ 1. Import Required Library

In [1]:
from pandas import DataFrame
import pandas as pd

ðŸŸ¦ 2. Example Dataset

In [2]:
df = DataFrame({
    "route_id": [10, 10, 20, 20, 30, 30],
    "direction": [0, 0, 0, 1, 0, 1],
    "day_type": ["Weekday", "Weekend", "Weekday", "Weekend", "Weekday", "Weekend"],
    "delay_min": [3, 5, 7, 2, 1, 4],
    "trip_duration": [25, 30, 45, 50, 20, 35]
})

df

   route_id  direction day_type  delay_min  trip_duration
0        10          0  Weekday          3             25
1        10          0  Weekend          5             30
2        20          0  Weekday          7             45
3        20          1  Weekend          2             50
4        30          0  Weekday          1             20
5        30          1  Weekend          4             35

ðŸŸ¦ 2. Grouping by Multiple Columns

In [4]:
df.groupby(["route_id", "direction"])["delay_min"].mean()

route_id  direction
10        0            4.0
20        0            7.0
          1            2.0
30        0            1.0
          1            4.0
Name: delay_min, dtype: float64

ðŸŸ¦ 3. Aggregating Multiple Columns on Multi-Group

In [7]:
df.groupby(["route_id", "direction"]).agg(
    avg_delay=("delay_min", "mean"),
    total_duration=("trip_duration", "sum")
)

                    avg_delay  total_duration
route_id direction
10       0                4.0              55
20       0                7.0              45
         1                2.0              50
30       0                1.0              20
         1                4.0              35

ðŸŸ¦ 4. Resetting Index to Flatten

In [8]:
df.groupby(["route_id", "direction"]).agg(
    avg_delay=("delay_min", "mean"),
    total_duration=("trip_duration", "sum")
).reset_index()

   route_id  direction  avg_delay  total_duration
0        10          0        4.0              55
1        20          0        7.0              45
2        20          1        2.0              50
3        30          0        1.0              20
4        30          1        4.0              35

ðŸŸ¦ 5. Comparing Nested Groups

In [9]:
df.groupby(["route_id", "day_type"])["delay_min"].mean().reset_index()

   route_id day_type  delay_min
0        10  Weekday        3.0
1        10  Weekend        5.0
2        20  Weekday        7.0
3        20  Weekend        2.0
4        30  Weekday        1.0
5        30  Weekend        4.0

# ðŸŸ¦ Summary

In this subsection, you learned how to:

Group by multiple columns to create hierarchical data

Aggregate multiple metrics on grouped data

Flatten MultiIndex with reset_index() for easier use

Compare nested groups to reveal patterns