üü¶ 1. Import Library

In [1]:
import pandas as pd

üü¶ 2. Create Sample DataFrame

In [2]:
df = pd.DataFrame({
    "City": ["Toronto", "Toronto", "Vancouver", "Vancouver"],
    "Month": ["Jan", "Feb", "Jan", "Feb"],
    "Sales": [120, 150, 90, 100],
    "Units": [10, 12, 8, 9]
})

df

        City Month  Sales  Units
0    Toronto   Jan    120     10
1    Toronto   Feb    150     12
2  Vancouver   Jan     90      8
3  Vancouver   Feb    100      9

üü¶ 3. Create MultiIndex by Pivoting

In [3]:
df_pivot = df.pivot(index="City", columns="Month", values=["Sales", "Units"])
df_pivot

          Sales      Units
Month       Feb  Jan   Feb Jan
City
Toronto     150  120    12  10
Vancouver   100   90     9   8

üü¶ 4. `stack()` ‚Äî Move Columns ‚Üí Rows

In [5]:
#Stack moves columns into a new inner **index level

stacked = df_pivot.stack()
stacked

/var/folders/fc/mkj1rmtd1fxdvgn96m4pmp1w0000gn/T/ipykernel_35486/397562180.py:3: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  stacked = df_pivot.stack()

                 Sales  Units
City      Month
Toronto   Feb      150     12
          Jan      120     10
Vancouver Feb      100      9
          Jan       90      8

üü¶ 5. `unstack()` ‚Äî Move Index ‚Üí Columns

In [6]:
unstacked = stacked.unstack()
unstacked

          Sales      Units
Month       Feb  Jan   Feb Jan
City
Toronto     150  120    12  10
Vancouver   100   90     9   8

üü¶ 6. Unstack by a Specific Level

In [8]:
# Moves ‚ÄúCity‚Äù level of index into columns
df_multi = stacked.copy()
df_multi.unstack(level=0)  # unstack City

        Sales             Units
City  Toronto Vancouver Toronto Vancouver
Month
Feb       150       100      12         9
Jan       120        90      10         8

üü¶ 7. Partial Unstacking

In [9]:
stacked2 = df.set_index(["City", "Month"]).stack()
stacked2.unstack(level=1)  # only unstack Month

Month            Feb  Jan
City
Toronto   Sales  150  120
          Units   12   10
Vancouver Sales  100   90
          Units    9    8

üü¶ 8. Converting Stacked Data Back to DataFrame

In [10]:
final_df = stacked.reset_index()
final_df.columns = ["City", "Month", "Sales", "Units"]
final_df

        City Month  Sales  Units
0    Toronto   Feb    150     12
1    Toronto   Jan    120     10
2  Vancouver   Feb    100      9
3  Vancouver   Jan     90      8

üü¶ 9. Real Example ‚Äî Multi-Level Aggregation

In [11]:
data = pd.DataFrame({
    "Route": [10, 10, 20, 20, 20],
    "Month": ["Jan", "Feb", "Jan", "Feb", "Mar"],
    "Passengers": [5000, 5200, 4500, 4700, 4800]
})

pivoted = data.pivot_table(index="Route", columns="Month", values="Passengers")
pivoted.stack()  # converts month columns into index

Route  Month
10     Feb      5200.0
       Jan      5000.0
20     Feb      4700.0
       Jan      4500.0
       Mar      4800.0
dtype: float64

## üü¶ Summary

You learned how to:

‚úî Convert **columns ‚Üí index** using `stack()`

‚úî Convert **index ‚Üí columns** using `unstack()`

‚úî Understand and manipulate **MultiIndex** structures

‚úî Perform **partial reshaping** at specific index levels

‚úî Flatten results with `reset_index()`